<ul class="nav tabs-underlined py-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <%= link_to 'Party', uploads_path, class: "nav-link tab-underlined #{ 'active' if params[:action] == 'index'}"  %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to 'Wedding', wedding_path, class: "nav-link tab-underlined #{ 'active' if params[:action] == 'wedding'}"  %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to 'Pre-Wedding', photos_path, class: "nav-link tab-underlined #{ 'active' if params[:action] == 'photos'}"  %>
  </li>
  <li class="nav-item" role="presentation">
    <%= link_to "https://www.amazon.com/wedding/share/doug_and_hyelim", target: "_blank", class: "nav-link tab-underlined #{ 'active' if params[:action] == 'registry'}" do %>
      Registry <i class="fa-solid fa-arrow-up-right-from-square"></i>
    <% end %>
  </li>
  <% if false %>
    <li class="nav-item" role="presentation">
      <%= link_to 'Travel', travel_path, class: "nav-link tab-underlined #{ 'active' if params[:action] == 'travel'}"  %>
    </li>
    <li class="nav-item" role="presentation">
      <%= link_to 'Schedule', schedule_path, class: "nav-link tab-underlined #{ 'active' if params[:action] == 'schedule'}"  %>
    </li>
    <li class="nav-item" role="presentation">
      <%= link_to 'Q&A', question_path, class: "nav-link tab-underlined #{ 'active' if params[:action] == 'question'}"  %>
    </li>
    <li class="nav-item" role="presentation">
      <%= link_to 'RSVP', rsvp_path, class: "nav-link tab-underlined #{ 'active' if params[:action] == 'rsvp'}"  %>
    </li>
  <% end %>
</ul>
