<small><%= index + 1 %> of <%= @events.count %> events</small>
<h1><%= event.name %></h1>
<p><i class="fa-solid fa-map-pin"></i> <%= event.location %></p>
<p><i class="fa-regular fa-calendar"></i> <%= event.date.strftime('%b %e, %l:%M %p') %></p>
