<div class="my-2 flex-grow-0 d-flex align-item-center" id="invitation-<%= invitation.id %>">
  <%= simple_form_for invitation, html: { class: 'me-2' } do |f| %>
    <%= f.input_field :status, as: :hidden, value: 'attending' %>
    <%= f.button :button, class: "btn #{invitation.attending? ? 'btn-primary': 'btn-outline-secondary text-white'}" do %>
      <small><i class="fa-regular fa-circle-check"></i> Will Attend</small>
    <% end %>
  <% end %>
  <%= simple_form_for invitation do |f| %>
    <%= f.input_field :status, as: :hidden, value: 'declined' %>
    <%= f.button :button, class: "btn #{invitation.declined? ? 'btn-secondary': 'btn-outline-secondary text-white'}" do %>
      <small><i class="fa-regular fa-circle-xmark"></i> Decline</small>
    <% end %>
  <% end %>
</div>
