<div class="col-12 col-sm-10 col-md-8 col-lg-6" id="invitation-<%= invitation.id %>">
  <div class="d-flex justify-content-between align-items-center">
    <div class="flex-grow-1">
      <small class='m-0'><%= invitation.person.full_name %></small>
    </div>
    <div class="my-2 flex-grow-0 d-flex align-item-center">
      <%= simple_form_for invitation, html: { class: 'me-2' } do |f| %>
        <%= f.input_field :status, as: :hidden, value: 'attending' %>
        <%= f.button :button, class: "btn #{invitation.attending? ? 'btn-primary': 'btn-outline-secondary text-white'}" do %>
          <small><i class="fa-regular fa-circle-check"></i> Will Attend</small>
        <% end %>
      <% end %>
      <%= simple_form_for invitation do |f| %>
        <%= f.input_field :status, as: :hidden, value: 'declined' %>
        <%= f.button :button, class: "btn #{invitation.declined? ? 'btn-secondary': 'btn-outline-secondary text-white'}" do %>
          <small><i class="fa-regular fa-circle-xmark"></i> Decline</small>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if solo %>
    <div class="text-center my-1">
      <%= simple_form_for invitation, namespace: "invitation-toggle-#{invitation.id}", data: { controller: 'auto-submit' } do |f| %>
        <%= f.input :wants_guest, as: :boolean, label: "I'd like to bring a guest", input_html: { class: "toggle", data: { action: 'auto-submit#submit' } }  %>
      <% end %>
    </div>
  <% end %>
  <% if false %>
    <div class="text-center mt-1">
      <small class="" data-bs-toggle="collapse" data-bs-target="#add-notes-<%= invitation.id %>" aria-expanded="false" aria-controls="cadd-notes-<%= invitation.id %>">
        Add note <i class="fa-solid fa-chevron-down"></i>
      </small>
      <div class="collapse" id="add-notes-<%= invitation.id %>">
        <div class="card card-body">
          <%= simple_form_for invitation, namespace: "invitation-notes-#{invitation.id}", data: { controller: 'auto-submit' } do |f| %>
            <%= f.input :notes, label: false, input_html: { class: "", data: { action: 'auto-submit#submit' } }  %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
