<%= turbo_frame_tag :invitation do %>
  <div class="container">
    <% if @groups.any? %>
      <% @groups.each do |group| %>
        <div class='py-3 border-top border-bottom d-flex justify-content-between align-items-center'>
          <div class="">
            <% group.people.each do |person| %>
              <p class='m-0'><%= person.full_name %></p>
            <% end %>
          </div>
          <%= link_to 'SELECT', group_path(group), data: { turbo_frame: '_top' }, class: 'btn btn-primary'  %>
        </div>
      <% end %>
    <% else %>
      <p>Sorry we couldn't find an invitation with <code><%= params[:name] %></code></p>
    <% end %>
    <%= link_to 'Search Again', rsvp_path, class: 'btn btn-outline-secondary mt-5', data: { turbo_frame: '_top' }  %>
  </div>
<% end %>
