<div class="container text-center mb-5">
  <div class="row justify-content-between">
    <div class="col text-start">
      <p class="mb-2">From the party...</p>
    </div>
    <div class="col text-end">
      <%= render "uploads/form", upload: @upload, btn_style: 'text-decoration-none text-primary cursor-pointer' %>
    </div>
  </div>
  <div class="row">
    <% @photos.each_slice(5).with_index do |slice, i| %>
      <div class="image-grid mb-2" style="direction: <%= 'rtl' if i.odd? %>;">
        <% slice.each_with_index do |photo, index| %>
          <div class="image-grid-item <%= index.zero? ? 'main' : "item#{index}" %>">
            <%#= image_tag "dh/#{num}.jpg", alt: "text", class: 'image-item' %>
            <%= cl_image_tag photo.key, alt: "text", class: 'image-item' %>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- <div class="image-grid-mobile"> -->
  </div>
  <% @photos.each_slice(2) do |slice| %>
    <div class="row d-md-none">
      <% slice.each do |photo| %>
        <div class="col-6 g-3">
          <%#= image_tag "dh/#{num}.jpg", alt: "text", class: 'image-grid-mobile-item'%>
          <%= cl_image_tag photo.key, alt: "text", class: 'image-grid-mobile-item' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
