<!DOCTYPE html>
<html>
  <head>
    <title>Doug & Hyelim's Wedding Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%#= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= render 'shared/banner' %>
    <div class="container d-flex justify-content-center align-items-center flex-column">
      <%= render 'shared/tabs' %>
    </div>
    <%= yield %>
  </body>
</html>
